@import 'variables';
@import 'mixins';

.app {
  width: 700px;
  margin: auto;

  @include flex(column, center, center);
}

.display {
  height: 100px;
  width: 100%;
  padding: 10px;

  @include flex(row, flex-end, center);

  color: #fff;
  font-size: 50px;
  background-color: $display-color;
}
